table {
  border-spacing: 12%;
  width: 95%;
  border-collapse: separate;
}
th {
  text-align: left; 
}

th.album {
  text-align: right; 
}

.cl1{
  display: inline-block;
  margin-left: 1%;
}
.cl2{
  display: inline-block;
  margin-left: 76%;
}
.cl{
  font-weight: 600;
  margin-bottom: 2%;
}