.menu{
    margin: 10%;
}
.pic-menu{
    display: inline-block;
    width: 10%; 
}
.text{
    display: inline-block;
    margin: 0% 4%;
    padding-bottom: 2%;
    padding-left: 8%;
}
.item{
    margin-top: 4%;
}