.songbox{
    border: 2px solid rgb(0, 255, 191);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 73.01%, rgba(15, 15, 15, 0.6) 73.01%), linear-gradient(180deg, #4C0000 0%, #0A0A0A 100%);
}
.text-clr-wht{
    color:aliceblue;
}