@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  color: #ffffff; /* Set a default font color if needed */
}

.App{
  /* width: 100%; */
  /* display: inline-block; */
  border: 9px solid green;
}
.left{
  display: inline-block;
  width: 15%;  
  border: 2px solid rgb(111, 0, 128);
}
.center{
  /* margin-top: 34%; */
  display: inline-block;
  width: 70%;
  border: 2px solid rgb(38, 0, 255);
  
}
.right{
  display: inline-block;
  width: 26%;
  border: 2px solid rgb(38, 0, 255);
}
.mainn{
  display: inline-block;
  width: 80%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 73.01%, rgba(15, 15, 15, 0.6) 73.01%), linear-gradient(180deg, #4C0000 0%, #0A0A0A 100%);
}