.App{
  /* width: 100%; */
  border: 9px solid green;
}
.left{
  width: 20%;
  display: inline-block;
}
.center{
  width: 74%;
  display: inline-block;
}
.right{
  width: 26%;
  display: inline-block;
}
.mainn{
  display: inline-block;
  width: 80%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 73.01%, rgba(15, 15, 15, 0.6) 73.01%), linear-gradient(180deg, #4C0000 0%, #0A0A0A 100%);
}